# Ignora TODO el contenido de extra-addons, pero conserva la carpeta en el repo.
#
# El truco: la carpeta llega al clon porque este mismo archivo sí se versiona
# (git no guarda directorios vacíos, solo archivos). La excepción "!.gitignore"
# es lo que impide que el "*" se ignore a sí mismo.
#
# Los módulos viven en su propio repo (odoo_aura_plant, rama 20.0) y se clonan aparte:
#   cd extra-addons
#   git clone -b 20.0 git@github.com:CDSSTrueque/odoo_aura_plant.git
*
!.gitignore
